.item {
    margin-bottom: 10px;
    padding: 8px 20px 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all linear 250ms;
  }
  
  .item:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 15px -1px rgba(66, 68, 90, 0.6);
  }
  
  
  
  .name {
    font-weight: 500;
  }
  
  .number {
    margin-top: 5px;
    font-weight: 900;
  }
  
  .btn {
    height: fit-content;
    appearance: none;
    background-color: #ffecd4;
    border-radius: 20em;
    border-style: none;
    box-shadow: #bcbfc4 0 -12px 6px inset;
    box-sizing: border-box;
    color: #634747;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    outline: none;
    padding: 6px 10px;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all linear 250ms;
  }
  
  /* .btn:hover {
    background-color: #ff8229b8;
    box-shadow: #ff1414c2 0 -6px 8px inset;
    transform: scale(1.1);
    color: black;
  } */
  
  .visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }